@import "tailwindcss";

/* 1. Plugin DaisyUI */
@plugin "daisyui";

/* 2. Custom Theme Variables & Fonts */
@theme {
    --font-sans:
        "Figtree", "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
    --font-serif: "Instrument Serif", serif;
    --sidebar-w: 260px;
}
